*.o
*.out
*.log
*.a
*.status
*.bc
*.swp
Makefile
buildpkg.sh
survey.sh
config.h
openbsd-compat/Makefile
openbsd-compat/regress/Makefile
openssh.xml
opensshd.init
scp
sftp
sftp-server
ssh
ssh-add
ssh-agent
ssh-keygen
ssh-keyscan
ssh-keysign
ssh-pkcs11-helper
sshd
